.mdDataTable{
    table{ width:100%; }
    td, th{ padding: 0; margin: 0; }
    font-size: 15px;

    $whiteColor: #ffffff;
    $primaryColorPalette: #0D47A1;

    /* 12sp Roboto Medium, 54% black */
    th{
        font-size: 12px;
        font-weight: 500;
        color: darken($whiteColor, 54%);
        cursor: pointer;
        white-space: nowrap;
        /* prevent ink ripple bleeding */
        position: relative;

        /* no pointer cursor when disabled, could be not-allowed but i think that indication is to strong */
        &[disabled]{
            cursor: auto;
        }

        /* remove the default blue outline in Chrome for consistent button-like behaviour */
        &:focus{
            outline: none;
        }

        /* when hoverSortIcons on a non-sorted column*/
        .hoverSortIcons ng-md-icon{
            visibility: hidden;
            fill: darken($whiteColor, 30%);

            svg{
                -webkit-transform:rotate(90deg);
                transform:rotate(90deg);
            }
        }

        &:hover .hoverSortIcons ng-md-icon{
            visibility: visible;
        }

        .sortedColumn{

            /* when hoverSortIcons on a sorted column*/
            .hoverSortIcons ng-md-icon{
                display:none;
            }
                   
            ng-md-icon{
                fill: darken($whiteColor, 87%);
 
                /* sort icon rotated 90 degrees for ascending sort (default) */
                svg{
                    -webkit-transform:rotate(90deg);
                    transform:rotate(90deg);
                }

            }

            /* sort icon rotated -90 degrees for descending sort */
            &.descending ng-md-icon>svg{
                -webkit-transform:rotate(-90deg);
                transform:rotate(-90deg);
            }                    

        }
    }
    
    /* optional animation of sort icons: add class 'animate-sort-icon' to md-data-table-header-row to activate animation */
    thead tr.animate-sort-icon .sortedColumn ng-md-icon svg{
        -webkit-transition: 0.3s linear all;
        transition: 0.3s linear all;
    }

    
    /* 64dp card header height */
    .mdDataTable-header{
        height: 64px;
        padding-left: 24px;
        padding-right: 14px;

        md-button{
            margin-left: 24px;
        }

        ng-md-icon{
            fill: darken($whiteColor, 54%);
        }
    }

    .mdDataTable-header-alternate{
        @extend .mdDataTable-header;

        background-color: lighten($primaryColorPalette, 60%);

        .alternate-text{
            color: $primaryColorPalette;
        }
    }

    /* 56do for last row */
    .mdDataTable-footer, tr th{
        height: 56px;
    }

    /* column padding */
    .checkboxCell{
        width: 18px;

        & md-checkbox{
            margin: 0;
            padding: 0;
        }

        /*the next cell should not have just 24px padding */
        & + td, & + th {
            padding-left: 24px;
        }
    }

    /* 48dp row height */
    /* 13sp Roboto Regular, 87% black */
    tr td{
        padding: 0;
        height: 48px;
        font-size: 13px;
        color: darken($whiteColor, 87%);
    }

    td:first-child, th:first-child{
        padding: 0 0 0 24px;
    }

    td:last-child, th:last-child{
        padding-right: 24px;
    }

    .column{
        padding-left: 56px;
    }

    .leftAlignedColumn{
        text-align: left;
    }

    .rightAlignedColumn{
        text-align: right;
    }

    /* border separation color */
    tr th{
      border-bottom: solid 1px #DDDDDD;
    }

    tr td{
      border-bottom: solid 1px #DDDDDD;
    }


    /* INTERACTION */
    tr:hover td{
        background: #EEEEEE;
    }

    .selectedRow td{
        background: #F5F5F5;
    }

    /* default icon color */
    ng-md-icon{
        fill: darken($whiteColor, 54%);
    }


}