<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" xmlns:ng="http://angularjs.org">                  <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>mdDataTable demo</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/iamisti/mdDataTable/master/dist/md-data-table-style.css" />

    <link rel="stylesheet" href="http://codepen.io/iamisti/pen/PZbyRe.css" />

    <style>
        html, body, iframe{
            background: #DDDDDD;
        }

        md-list .md-button {
            text-align: left;
        }
    </style>
</head>
<body ng-app="exampleApp" ng-controller="DemoController" layout="column">

    <md-toolbar layout="row" layout-align="left center" layout-padding>
        <h1 class="md-title">Material Design Data Table</h1>
    </md-toolbar>

    <div layout="row" flex>
        <md-sidenav md-is-locked-open="true">
            <md-list>
                <md-list-item ng-repeat="aPage in pages">
                    <md-button flex ng-click="selectPage(aPage)" ng-class="{'md-primary md-raised' : aPage.name === selectedPage.name }">
                        {{aPage.name}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <!--
        <iframe id="myFrame" flex scrolling='yes' ng-src='{{examplePageUrl}}' frameborder='no' allowtransparency='true' allowfullscreen='true'></iframe>
        -->
        <div flex id="myDiv"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Angular Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

    <!-- Angular Material -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    <script src="https://rawgit.com/iamisti/mdDataTable/master/dist/md-data-table-templates.js"></script>
    <script src="https://rawgit.com/iamisti/mdDataTable/master/dist/md-data-table.js"></script>


    <!-- basic example -->
    <script src="http://codepen.io/iamisti/pen/mVOKEw.js"></script>
    <!--
    <script src="http://codepen.io/iamisti/pen/bEBKgK.js"></script>
    <script src="http://codepen.io/iamisti/pen/bEBKRj.js"></script>
    <script src="http://codepen.io/iamisti/pen/dGOKzN.js"></script>
    <script src="http://codepen.io/iamisti/pen/GoNGMy.js"></script>
    <script src="http://codepen.io/iamisti/pen/bEBKYx.js"></script>
    <script src="http://codepen.io/iamisti/pen/MKbXOM.js"></script>
-->

    <!-- example app -->
    <script src="demoHandler.js"></script>
</body>
</html>