<tr ng-repeat="rowData in mdtPaginationHelper.getRows() track by $index"
    ng-class="{'selectedRow': rowData.optionList.selected}"
    ng-show="(isPaginationEnabled() === false || rowData.optionList.visible === true) && rowData.optionList.deleted === false">

    <td class="checkboxCell" ng-show="selectableRows">
        <md-checkbox aria-label="select" ng-model="rowData.optionList.selected" ng-change="onCheckboxChange()"></md-checkbox>
    </td>

    <td class="column"
        ng-repeat="cellData in rowData.data track by $index"
        mdt-add-align-class="headerData[$index].alignRule"
        style="position:relative;">

            <!-- editable field -->
            <ng-md-icon icon="edit" size="16"
                        style="cursor:pointer;float:right;height:16px;padding-left:5px;outline: none;"
                        ng-if="cellData.attributes.editableField"
                        ng-click="showEditDialog($event, cellData, rowData)"></ng-md-icon>

            <span mdt-add-html-content-to-cell="cellData"
                  style="cursor:pointer;outline: none;"
                  ng-if="cellData.attributes.editableField"
                  ng-click="showEditDialog($event, cellData, rowData)"></span>

            <!-- non editable field -->
            <span mdt-add-html-content-to-cell="cellData" ng-if="cellData.attributes.editableField === false"></span>
    </td>
</tr>
<tr ng-show="mdtPaginationHelper.isLoading">
    <td colspan="999">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </td>
</tr>
<tr ng-show="mdtPaginationHelper.isLoadError">
    <td colspan="999">
        {{mdtPaginationHelper.mdtRowPaginatorErrorMessage}}
    </td>
</tr>