<table cellpadding="0" cellspacing="0">
    <thead class="originalHeader">
        <tr class="theadTrRow"
            mdt-animate-sort-icon-handler>

            <!-- TODO: fix text-align:left, in theory it should not be there to make it work -->
            <th class="checkboxCell"
                style="text-align:left;"
                ng-show="selectableRows"
                mdt-select-all-rows-handler>
                <md-checkbox aria-label="select all" ng-model="selectAllRows"></md-checkbox>
            </th>

            <th class="column has-filters"
                ng-repeat="headerRowData in headerData track by $index"
                ng-class="{'clickable': sortableColumns}"
                mdt-add-align-class="headerRowData.alignRule"
                mdt-sort-handler
                md-ink-ripple="{{rippleEffect}}">

                <mdt-generated-header-cell-content></mdt-generated-header-cell-content>

                <div class="filter-dropdown">
                    <div class="md-whiteframe-z2">
                        <md-content class="md-body-1">
                            <div layout="row" layout-align="end center" class="b-b p-md">
                                <a href="#">Sort A-Z </a>
                            </div>
                            <div class="b-b p-md filter__search">
                                <ng-md-icon icon="search" size="24"></ng-md-icon>
                                <md-button class="md-icon-button" md-ink-ripple="#0078AB">
                                    <ng-md-icon icon="close" size="24"></ng-md-icon>
                                </md-button>
                                <input type="text" class="input" placeholder="Filter column...">
                            </div>
                            <div class="p-t-sm p-b-sm p-l-md p-r-md">
                                <a href="#">Select all</a> -
                                <a href="#">Clear</a>
                            </div>
                            <div layout="column" class="p-b-n p-t-sm p-l-md p-r-md filter__scroll">
                                <md-checkbox class="md-primary">Loan</md-checkbox>
                                <md-checkbox class="md-primary">Permanent</md-checkbox>
                                <md-checkbox class="md-primary">Loan</md-checkbox>
                                <md-checkbox class="md-primary">Permanent</md-checkbox>
                                <md-checkbox class="md-primary">Loan</md-checkbox>
                                <md-checkbox class="md-primary">Permanent</md-checkbox>
                            </div>
                            <div class="p-b-sm p-t-sm">
                                <md-button class="md-raised md-primary">Ok</md-button>
                                <md-button class="md-raised">Cancel</md-button>
                            </div>
                        </md-content>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody md-virtual-repeat-container ng-include="'/main/templates/generateRowsVirtualRepeat.html'" ng-if="virtualRepeat" style="display: table-row-group;"></tbody>
    <tbody ng-include="'/main/templates/generateRows.html'" ng-if="!virtualRepeat"></tbody>
</table>