<md-dialog style="min-width: 300px;" layout-padding>
    <md-dialog-content style="margin-left:16px;margin-right:16px;" layout-align="column">
        <form ng-submit="saveRow()" name="editFieldForm">
            <h2>{{cellData.attributes.editableFieldTitle}}</h2>
            <md-input-container md-no-float style="margin-bottom:0;width:100%">

                <!-- TODO getting placeholder -->
                <input type="text"
                       ng-model="cellData.value"
                       placeholder=""
                       md-maxlength="{{cellData.attributes.editableFieldMaxLength}}" />
            </md-input-container>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="saveRow()">{{mdtTranslations.largeEditDialog.saveButtonLabel}}</md-button>
        <md-button class="md-raised" ng-click="cancel()">{{mdtTranslations.largeEditDialog.cancelButtonLabel}}</md-button>
    </md-dialog-actions>
</md-dialog>
