<md-content class="mdDataTable md-whiteframe-z1" layout="column">
    <!-- table card -->
    <md-data-table-card-header
            ng-if="tableCard.visible"
            ng-hide="alternateHeaders && isAnyRowSelected()">
    </md-data-table-card-header>

    <!-- alternate headers -->
    <md-data-table-alternate-headers ng-if="alternateHeaders && isAnyRowSelected()"></md-data-table-alternate-headers>
    <!-- alternate headers end -->

    <table cellpadding="0" cellspacing="0">
        <thead></thead>
        <tbody></tbody>
    </table>

    <!-- table card -->
    <md-data-table-card-footer ng-if="tableCard.visible"></md-data-table-card-footer>
    <!-- table card end -->
</md-content>