<md-content class="mdDataTable md-whiteframe-z1" layout="column">
    <!-- table card -->
    <md-data-table-card-header
            ng-if="tableCard.visible"
            ng-hide="alternateHeaders && isAnyRowSelected()">
    </md-data-table-card-header>

    <!-- alternate headers -->
    <md-data-table-alternate-headers ng-if="alternateHeaders && isAnyRowSelected()"></md-data-table-alternate-headers>
    <!-- alternate headers end -->

    <div id="reader" style="display:none;"></div>

    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr class="theadTrRow"
                md-data-table-animate-sort-icon-handler>

                <!-- TODO: fix text-align:left, in theory it should not be there to make it work -->
                <th class="checkboxCell"
                    style="text-align:left;"
                    ng-show="selectableRows"
                    md-data-table-select-all-rows-handler>
                    <md-checkbox aria-label="select all" ng-model="selectAllRows"></md-checkbox>
                </th>

                <th class="column"
                    ng-repeat="headerRowData in tableDataStorageService.header track by $index"
                    md-data-table-add-align-class="headerRowData.alignRule"
                    md-data-table-sort-handler
                    ng-disabled="!sortableColumns"
                    md-ink-ripple>

                    <md-data-table-generated-header-cell-content-directive></md-data-table-generated-header-cell-content-directive>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rowData in mdtPaginationHelper.getRows(paginatedRows) track by $index"
            ng-class="{'selectedRow': rowData.optionList.selected}" ng-show="rowData.optionList.deleted === false">

            <td class="checkboxCell" ng-show="selectableRows">
                <md-checkbox aria-label="select" ng-model="rowData.optionList.selected"></md-checkbox>
            </td>

            <td class="column"
                ng-repeat="cellData in rowData.data track by $index"
                md-data-table-add-align-class="tableDataStorageService.header[$index].alignRule">

                <span ng-if="!cellData.type">{{cellData}}</span>
                <span ng-if="cellData.type === 'html'"
                      md-data-table-add-html-content-to-cell="cellData.value"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- table card -->
    <md-data-table-card-footer ng-if="tableCard.visible"></md-data-table-card-footer>
    <!-- table card end -->
</md-content>