<th class="column {{columnAlignClass}}" ng-disabled="!isSortingEnabled()" md-ink-ripple ng-click="clickHandler()">
    <div layout="row">
        <md-tooltip ng-if="columnDefinition">{{ columnDefinition }}</md-tooltip>
        <span ng-if="isSortingEnabled() && isColumnRightAligned()">
            <span class="hoverSortIcons" ng-if="!isSorted()">
                <ng-md-icon icon="arrow_forward" size="16"></ng-md-icon>
            </span>

            <span class="sortedColumn" ng-if="isSorted()" ng-class="direction == -1 ? 'ascending' : 'descending'">
                <ng-md-icon icon="arrow_forward" size="16"></ng-md-icon>
            </span>
        </span>

        <span flex>
            <ng-transclude></ng-transclude>
        </span>

        <span ng-if="isSortingEnabled() && isColumnLeftAligned()">
            <span class="hoverSortIcons" ng-if="!isSorted()">
                <ng-md-icon icon="arrow_forward" size="16"></ng-md-icon>
            </span>

            <span class="sortedColumn" ng-if="isSorted()" ng-class="direction == -1 ? 'ascending' : 'descending'">
                <ng-md-icon icon="arrow_forward" size="16"></ng-md-icon>
            </span>
        </span>
    </div>
</th>