<div class="filter-dropdown">
    <div class="md-whiteframe-z2">
        <md-content class="md-body-1">
            <!-- TODO: Restore sorting in next sprint
            <div layout="row" layout-align="end center" class="b-b p-md">-->
            <!--<a href="#">Sort A-Z </a>-->
            <!--</div>-->

            <div layout="row" layout-align="start center" class="selectall_clearall p-l-md p-t-md p-b-sm">
                <a href="#" ng-click="selectAll($event)">Select all</a> <span>-</span> <a href="#" ng-click="clearAll($event)">Clear</a>

                <div class="selected_items p-r-md" flex ng-if="selectedItems.length">{{selectedItems.length}} Selected</div>
            </div>

            <div layout="column" class="p-b-n p-t-sm p-l-md p-r-md filter__scroll">
                <md-checkbox class="md-primary"
                             ng-repeat="item in selectableItems"
                             ng-checked="exists(item)"
                             ng-click="toggle(item)">
                    {{ transformChip(item) }}
                </md-checkbox>
            </div>

            <div class="p-b-sm p-t-sm" layout="row" layout-align="space-around start">
                <md-button class="md-raised md-primary" ng-click="confirmCallback({selectedItems: selectedItems, event: $event})">Ok</md-button>
                <md-button class="md-raised" ng-click="cancelCallback({event: $event})">Cancel</md-button>
            </div>
        </md-content>
    </div>
</div>
