<div class="mdt-footer" layout="row" ng-show="isPaginationEnabled()">
    <div class="mdt-pagination"
         layout="row"
         layout-align="end center"
         flex>

        <span layout-margin>Rows per page:</span>
        <md-input-container>
            <md-select ng-model="rowsPerPage" aria-label="rows per page">
                <md-option ng-value="pageSize" ng-repeat="pageSize in mdtPaginationHelper.rowsPerPageValues">{{pageSize}}</md-option>
            </md-select>
        </md-input-container>

        <span layout-margin>
            {{mdtPaginationHelper.getStartRowIndex()+1}}-{{mdtPaginationHelper.getEndRowIndex()+1}} of {{mdtPaginationHelper.getTotalRowsCount()}}
        </span>

        <md-button class="md-icon-button md-primary" aria-label="Previous page" ng-click="mdtPaginationHelper.previousPage()">
            <ng-md-icon icon="keyboard_arrow_left" size="24"></ng-md-icon>
        </md-button>

        <md-button class="md-icon-button md-primary" aria-label="Next page" ng-click="mdtPaginationHelper.nextPage()">
            <ng-md-icon icon="keyboard_arrow_right" size="24"></ng-md-icon>
        </md-button>
    </div>
</div>