<div ng-click="columnClickHandler()" style="position:relative;">

    <mdt-column-filter
            ng-if="isColumnFilterVisible"
            placeholder-text =""
            confirm-callback="bla"
            values-provider-callback="headerRowData.columnFilterValuesProviderCallback">
    </mdt-column-filter>

    <div ng-if="sortableColumns">
        <md-tooltip ng-show="headerRowData.columnDefinition">{{headerRowData.columnDefinition}}</md-tooltip>

        <span ng-show="headerRowData.alignRule == 'right'" ng-include src="'/main/templates/cells/generateSortingIcons.html'"></span>

        <span ng-include src="'/main/templates/cells/generateCellValue.html'"></span>

        <span ng-show="headerRowData.alignRule == 'left'" ng-include src="'/main/templates/cells/generateSortingIcons.html'"></span>
    </div>

    <div ng-if="!sortableColumns">
        <md-tooltip ng-show="headerRowData.columnDefinition">{{headerRowData.columnDefinition}}</md-tooltip>

        <span ng-include src="'/main/templates/cells/generateCellValue.html'"></span>
    </div>
</div>