<md-content class="mdtTable md-whiteframe-z1" layout="column">
    <!-- table card -->
    <mdt-card-header ng-hide="alternateHeaders && isAnyRowSelected()"></mdt-card-header>

    <!-- alternate headers -->
    <mdt-alternate-headers ng-show="alternateHeaders && isAnyRowSelected()"></mdt-alternate-headers>
    <!-- alternate headers end -->

    <div id="reader" style="display:none;"></div>

    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr class="theadTrRow"
                mdt-animate-sort-icon-handler>

                <!-- TODO: fix text-align:left, in theory it should not be there to make it work -->
                <th class="checkboxCell"
                    style="text-align:left;"
                    ng-show="selectableRows"
                    mdt-select-all-rows-handler>
                    <md-checkbox aria-label="select all" ng-model="selectAllRows"></md-checkbox>
                </th>

                <th class="column"
                    ng-repeat="headerRowData in tableDataStorageService.header track by $index"
                    mdt-add-align-class="headerRowData.alignRule"
                    mdt-sort-handler
                    md-ink-ripple="{{rippleEffect}}">

                    <mdt-generated-header-cell-content></mdt-generated-header-cell-content>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rowData in tableDataStorageService.storage track by $index"
            ng-class="{'selectedRow': rowData.optionList.selected}"
            ng-show="(isPaginationEnabled() === false || rowData.optionList.visible === true) && rowData.optionList.deleted === false">

            <td class="checkboxCell" ng-show="selectableRows">
                <md-checkbox aria-label="select" ng-model="rowData.optionList.selected"></md-checkbox>
            </td>

            <td class="column"
                ng-repeat="cellData in rowData.data track by $index"
                mdt-add-align-class="tableDataStorageService.header[$index].alignRule">

                <span ng-show="!cellData.type">{{cellData}}</span>
                <span ng-show="cellData.type === 'html'"
                      mdt-add-html-content-to-cell="cellData.value"></span>
            </td>
        </tr>
        <tr ng-show="mdtPaginationHelper.isLoading"><td colspan="999">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </td></tr>
        </tbody>
    </table>

    <!-- table card -->
    <mdt-card-footer></mdt-card-footer>
    <!-- table card end -->
</md-content>