<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" xmlns:ng="http://angularjs.org">                  <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>md-data-table demo</title>
    <meta name="description" content="">

    <!-- Styles -->
    <!-- bower:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- built css files will go here... -->
    <!-- endinject -->
    <link rel="stylesheet" href="main.css"/>
    <style>
        body{
            background: #DDDDDD;
        }
    </style>
</head>
<body ng-app="exampleApp">

<md-toolbar layout="row" layout-align="left center" layout-padding>
    <h3 class="md-title">Material Design Data Table</h3>
</md-toolbar>

<div layout="row" ng-controller="ExampleController">
    <div flex="20">
        <md-card>
            <md-subheader>Attributes playground</md-subheader>

            <md-checkbox ng-model="tableCardIsEnabled" aria-label="Enable table card">
                Enable table card
            </md-checkbox>

            <md-checkbox ng-model="tableIsSelectable" aria-label="Enable selectable rows" checked>
                Enable selectable rows
            </md-checkbox>

            <md-checkbox ng-model="tableIsSortable" aria-label="Enable sortable columns" checked>
                Enable sortable columns
            </md-checkbox>
        </md-card>
    </div>
    <div layout-padding flex>
        <md-data-table
                table-card="{visible: tableCardIsEnabled, title: 'Nutrition'}"
                selectable-rows="tableIsSelectable"
                alternate-headers="'contextual'"
                sortable-columns="tableIsSortable"
                delete-row-callback="deleteRowCallback(rows)">

            <md-data-table-header-row class="animate-sort-icon">
                <md-data-table-column align-rule="left">Dessert (100g serving)</md-data-table-column>
                <md-data-table-column align-rule="right" column-definition="The total amount of food energy in the given serving size.">Calories</md-data-table-column>
                <md-data-table-column align-rule="right" column-definition="The total amount of fat in the given serving size.">Fat (g)</md-data-table-column>
                <md-data-table-column align-rule="right">Carbs (g)</md-data-table-column>
                <md-data-table-column align-rule="right">Protein (g)</md-data-table-column>
                <md-data-table-column align-rule="right">Sodium (mg)</md-data-table-column>
                <md-data-table-column align-rule="right">Calcium (%)</md-data-table-column>
                <md-data-table-column align-rule="right">Iron (%)</md-data-table-column>
                <md-data-table-column align-rule="right"></md-data-table-column>
           </md-data-table-header-row>

            <md-data-table-row
                    table-row-id="nutrition.id"
                    ng-repeat="nutrition in nutritionList">
                <md-data-table-cell>{{nutrition.name}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.calories}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.fat}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.carbs}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.protein}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.sodium}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.calcium}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.iron}}</md-data-table-cell>
                <md-data-table-cell html-content="true">
                    <md-button class="md-icon-button" aria-label="Edit row"><ng-md-icon icon="mode_edit" size="16"></ng-md-icon></md-button>
                </md-data-table-cell>
            </md-data-table-row>
        </md-data-table>

        <br />

        <md-data-table
                table-card="{visible: tableCardIsEnabled, title: 'Nutrition copy'}"
                selectable-rows="tableIsSelectable"
                alternate-headers="'contextual'"
                sortable-columns="tableIsSortable"
                delete-row-callback="deleteRowCallback(rows)">

            <md-data-table-header-row>
                <md-data-table-column align-rule="left">Dessert (100g serving)</md-data-table-column>
                <md-data-table-column align-rule="right">Calories</md-data-table-column>
                <md-data-table-column align-rule="right">Fat (g)</md-data-table-column>
                <md-data-table-column align-rule="right">Carbs (g)</md-data-table-column>
                <md-data-table-column align-rule="right">Protein (g)</md-data-table-column>
                <md-data-table-column align-rule="right">Sodium (mg)</md-data-table-column>
                <md-data-table-column align-rule="right">Calcium (%)</md-data-table-column>
                <md-data-table-column align-rule="right">Iron (%)</md-data-table-column>
            </md-data-table-header-row>

            <md-data-table-row ng-repeat="nutrition in nutritionList2">
                <md-data-table-cell>{{nutrition.name}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.calories}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.fat}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.carbs}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.protein}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.sodium}}</md-data-table-cell>
                <md-data-table-cell>{{nutrition.calcium}}</md-data-table-cell>
                <md-data-table-cell html-content="true">
                    <md-button>{{nutrition.iron}}</md-button>
                </md-data-table-cell>
            </md-data-table-row>
        </md-data-table>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<!-- bower:js -->
<!-- bower installed scripts will go here... -->
<!-- endinject -->

<!-- inject:js -->
<!-- app scripts will go here... -->
<!-- endinject -->

<!-- demo:js -->
<!-- app scripts will go here... -->
<!-- endinject -->


<script src="/templates.js"></script>
</body>
</html>
